<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My Contributions</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Open source contributions in the last year.</p>
<!-- source: https://github.com/IonicaBizau/github-calendar -->
<!-- Include the library. -->
<!--<script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>-->
<!-- Custom lib with adjustments -->
<script src="custom-github-calendar.min.js"></script>

<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
<!--<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css"/>-->
<!-- Custom css to ensure availability and stability -->
<link rel="stylesheet" href="custom-github-calendar-responsive.css"/>

<!-- Prepare a container for your calendar. -->
<div id="calendar" class="calendar">
<!-- Loading stuff -->
Loading ...
</div>

<script>
GitHubCalendar(".calendar", "ghjansen");
// or enable responsive functionality
//GitHubCalendar(".calendar", "user", { responsive: true });
</script>
<div class="text-gray mb-2 ws-normal">To see contributions from previous years <a href="https://github.com/ghjansen?tab=overview&from=2016-12-01&to=2016-12-31">click here.</a></div>
