<button onClick="myFunction()" class="d-inline-block f5 rounded-2 text-white bg-green py-1 px-2" style="border: none">{% if user.hireable %}Available for hire{% else %}Contact Me{% endif %}</button>

<!-- reCAPTCHA -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- form visibility -->
<script>
var var1 = "https://script.google.com/macros/s/AKfycbyyBerX6kMEZ61oUrhOzkcRtLgRzhYQk27hY9vfCCMk3ltP8CMgkqgu/exec";
var var2 = "POST";
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<!-- captcha -->
<script>
function validCaptcha(){
  var response = grecaptcha.getResponse();
  if(response.length == 0){
    // Captcha is not Passed
    return false;
  } else {
    // Captcha is Passed
    return true;
  }
}

function sendButtonCallback(response) {
  var btn = document.getElementById("sendButton");
  var frm = document.getElementById("contactform");
  if (validCaptcha()) {
    btn.style.display = "block";
    btn.disabled = false;
    frm.action = var1;
    frm.method = var2;
  } else {
    btn.style.display = "none";
    btn.disabled = true;
    frm.action = "?";
    frm.method = "?";
  }
}
</script>

<div id="myDIV" style="display:none; width:100%; margin: 0 auto;">

  <form id="contactform" class="gform pure-form pure-form-stacked" method="?" action="?" onsubmit="return validCaptcha();">

  <div class="form-elements">
    <fieldset class="pure-group">
      <label for="name" style="text-align:left">Name: </label>
      <input id="name" name="name" placeholder="Your name" style="width:100%" />
    </fieldset>

    <fieldset class="pure-group">
      <label for="email" style="text-align:left">Email Address:</label>
      <input id="email" name="email" type="email" value=""
      required placeholder="your.email@address.com" style="width:100%"/>
    </fieldset>

    <fieldset class="pure-group">
      <label for="message" style="text-align:left">Message: </label>
      <textarea id="message" name="message" rows="10"
      placeholder="Tell me what's on your mind..." style="width:100%"></textarea>
    </fieldset>

    <fieldset class="pure-group honeypot-field">
        <label for="honeypot">Honeypot: </label>
        <input id="honeypot" type="text" name="honeypot" value="" />
      </fieldset>

    <div style="text-align: center;">
      <div class="form-elements g-recaptcha" data-sitekey="6Le7hjoaAAAAAMtNW-TU7s_GJtsLyVxUXxRXUxBx" data-callback="sendButtonCallback" data-expired-callback="sendButtonCallback" data-error-callback="sendButtonCallback" style="display: inline-block;"></div>
    </div>

    <br/>

    <button id="sendButton" style="display:none;" disabled class="button-success pure-button button-xlarge d-inline-block f5 rounded-2 text-white bg-green py-1 px-2">
      <i class="fa fa-paper-plane"></i>&nbsp;Send</button>

  </div>

  <div class="thankyou_message" style="display:none; color:#28a745;">
    <h2></br>Thank you for contacting me!</br> I will get back to you soon!</h2>
  </div>

</form>

<script data-cfasync="false" src="form-submission-handler.js"></script>
</div>
</div>
